body {
    background-color: aliceblue;
    color: black;
}

.intro-box {
    min-width: 200px;
    min-height: 100px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.title {
    color: white;
    background-color:rgba(0, 255, 179, 0.336)
}

.headline {
    margin-left: 6px;
    color: rgb(191, 225, 255);
}

#header {
    background: rgb(0, 136, 255);
}

#text-out {
    min-height: 300px;
    background: white;
    margin: 10px;
    border-radius: 15px;
}

#q-input {
    min-height: 40px;
    min-width: 65%;
    margin-left: 5%;
    margin-bottom: 8px;
    border-radius: 15px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-top-color: lightgray;
}

#q-send {
    min-height: 40px;
    min-width: 10%;
    margin-left: 5%;
    margin-bottom: 8px;
    border-radius: 15px;
    padding: 6px 20px;
    border: none;
    background: rgb(0, 136, 255);
    color: white;
}

#send-form {
    margin: auto;
    margin-bottom: 8px;
}

#main-container {
    margin-left: auto; 
    margin-right: 0;
    max-width: 700px;
    width: 100%;
}

#intro-text {
    max-width: 700px;
}

@media screen and (min-width: 824px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 0px 0px;
        grid-template-areas:
          "gi1 gi1"
          "gi2 gi3"
          "gi4 gi4"
          "gi4 gi4";
      }
      
      .gi1 { grid-area: gi1;
            }
      
      .gi2 { grid-area: gi2; }
      
      .gi3 { grid-area: gi3; }
      
      .gi4 { grid-area: gi4; }
      
}


@media screen and (max-width: 823px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
        gap: 0px 0px;
        grid-template-areas:
        "gi1"
        "gi2"
        "gi3"
        "gi4";
    }
    
    .gi1 { grid-area: gi1; }
    
    .gi2 { grid-area: gi2; }
    
    .gi3 { grid-area: gi3; }
    
    .gi4 { grid-area: gi4; }

    intro-box {
        margin-top: 10px;
    }
  
}